*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter,sans-serif;
}
body hr{
    background: #b8bdc9;
    height: 1px;
    border: none;
    margin: 25px 0;
}
body input{
    border-color: #b8bdc9;
}
.unipd{
    padding: 0px 38px;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.frm{
    margin: 80px auto;
    /* background: burlywood; */
    width: 55%;
    height: fit-content;
}

.form-header{
    margin: 0 -38px;
    padding: 2.5em 52px;
    border-bottom: 1px solid #EBEBF0;
    padding-top: 0;
}
.form-header h1{
   font-size: 2em;
   line-height: 46.4px;
   color: #2c3345;
}
.form-header p{
   font-size: 1em ;
   line-height: 25.6px;
   color: #57647e;
}

#lbl{
    color: #2c3345;
    width: 100%;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: bold;
}

.name{
    margin-top: 28px;
    display: grid;
    margin-bottom: 12px;
}

.frm-body {
    padding-left: 52px;
    display: grid;
}
.nm-boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.nm-boxs span{
    display: grid;
    gap: 8px;
    width: 100%;
    font-size: .85em;
    color: #57647e;
}

.nm-boxs span input{
    height: 3.5em;
    border-radius: 4px;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
}

.birth-date{
    margin: 12px 4px;
    display: grid;
    margin-left: 0;
}

.smt {
    width: 100%;
    display: grid;
    gap: 8px;
}
.smt span{
    font-size: .85em;
    color: #57647e;
}
.birth-box{
    display: flex;
    gap: 9px;
}
.b-box{
    height: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #b8bdc9;
    padding: 8px;
}
select{
    height: 3em;
}
#positioned{
    height: 3em;
    width: 50%;
    color: #434d60;
}




.Current-Address{
    display: grid;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.Current-Address span,.email-box span{
    display: grid;
    gap: 12px;
    width: 100%;
    font-size: .85em;
    color: #57647e;
}

.Current-Address span input{
    height: 3.5em;
    border-radius: 4px;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
}

.city-prov{
    display: flex;
    gap: 4%;
}

.email{
    margin-top: 40px;
    display: grid;
    gap: 8px;
    margin-bottom: 10px;
}
.email-box span input, .phn input{
    height: 3.5em;
    border-radius: 4px;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    width: 50%;
    padding: 0 4px;
}

.phn,.Position{
    display: grid;
    gap: 8px;
    margin: 40px 0 24px 0;
}

.pobox{
    width: 310px;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b8bdc9 ;
    padding: 10px;
}
.pobox span{
    color: #8894AB;
}
.pobox input{
    height: 2.5em;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #8894AB;
}
.start-date{
    margin-bottom: 40px;
}









.upload-resume{
    display: grid;
    gap: 6px;
    margin-bottom: 40px;
    cursor: pointer;
}

.resume-up{
    text-align: center;
    display: grid;
    gap: 4px;
    border: 1px dashed;
    border-radius: 4px;
    height: 132px;
    font-size: 16px;
    padding: 25px 0;
}
.ic{
    position: relative;
}

.resume-up i{
    font-size: xx-large;
}
.resume-up p{
    color: #2c3345;
    font-size: 14px;
}
.resume-up h3{
    color: #2c3345;
}
.fa-arrow-up{
    position: absolute;
    top: 7px;
    left: 48.8%;
    color: #fff;
    font-size: 5px;
}
.fa-solid.fa-arrow-up {
    font-size: large;
}
.fa-solid.fa-cloud {
    color: #B3BCCD;
}

.cover-ltr{
    display: grid;
    gap: 8px;
}
#cover-text{
   width: 100%;
   height: 163px;
   border: 1px solid #b8bdc9;
   border-radius: 4px;
}



button{
    background-color: #18bd5b;
    color: #fff;
    text-align: center;
    height: 3em;
    width: 180px;
    margin: 20px auto;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #18bd5b;
}

button:hover{
    background-color: #57647e;
}


@media only screen and (max-width: 830px){

    .container .frm {
        margin: 0;
        /* background: burlywood; */
        width: auto;
        height: fit-content;
    }
    
    

}


@media only screen and (max-width: 600px) {
    
    .container .frm {
        margin: 0;
        /* background: burlywood; */
        width: auto;
        height: fit-content;
    }
    .nm-boxs{
        flex-direction: column;
    }
    .birth-box{
        flex-direction: column;
    }
    .city-prov{
        flex-direction: column;
    }
    .email-box span input, .phn input{
        width: 60%;
        padding: 0 4px;
    }
    .frm-body{
        padding-left: 10%;
    }
}
